body    {
        width: 100vw;
        margin: 0;
        padding: 0;
        background-color: #d6d6d6;
        font-family: Arial, Helvetica, 'Helvetica Neue', sans-serif;
}

.content{
        max-width: 960px;
        min-width: 650px;
        margin: auto;
        padding: 0;
}

header  {
        width: 100vw;
        height: 5rem;
        background-color: white;
        margin-top: 0;
        margin-bottom: 3vh;
}

.headings-font  {
        font-family: Georgia, 'Times New Roman', Times, serif;
}

h1      {
        float: left;
        width: 17rem;
        height: 1em;
        margin: 0;
        padding: 0.75em 0em 0.75em 0em;
        text-align: center;
        letter-spacing: 0.05em;
        font-weight: bold;
        color: rgb(255, 255, 255);
        background-color: steelblue;
}

nav     {
        float: right;
        width: 30vw;
        height: 1em;
        margin-right: 2em;
        margin-left: 5vw;
        padding: 2em 0em 2em 0em;
        text-align: right;
}

a       {
        color: steelblue;
}
#about  {
        padding-right: 3vw;
}
#portfolio  {
        padding-right: 3vw;
}

.main-content   {
        float: left;
        width: 650px;
        margin: 0px 40px 40px 0px;
        background-color: white;
}

h2      {
        margin: 2rem 0rem 0.5rem 2rem;
        text-align: left;
        color: steelblue;
}

#hr2    {  
        height: 3px;
        margin: 0rem 2rem 0rem 2rem;
        border: 0;
        background-color: #f5f5f5;
}

#fish-pic  {
        float: left;
        vertical-align: top;
        width: 30%;
        margin: 0 1rem 0 0;
}

p       {
        margin: 1rem 2rem 2rem 2rem;
        line-height: 1.15em;
        color: rgb(44, 53, 61);
}

.portf-box-left  {
        float: left;
        width: 17rem;
        height: 15rem;
        margin: 1.5rem 0rem 1rem 2rem;
        background-color: mediumaquamarine;
}

.portf-box-right  {
        float: right;
        width: 17rem;
        height: 15rem;
        margin: 1.5rem 2rem 1rem 0rem;
        background-color: mediumaquamarine;
}

.portf-img      {
        position: absolute
}

h4      {
        position: relative;
        color: white;
        letter-spacing: 0.07em;
        margin: 11rem 0rem 1rem 0rem;
        padding: 1rem 0rem 1rem 0rem;
        text-align: center;
        vertical-align: bottom;
        background-color: steelblue;
}

.top-lbl   {
        margin-top: 2rem; 
}

label   {
        width: 650px;
        float: left;
        margin: 0rem 2rem 0.2rem 2rem;
}

input     {
        float: left;
        width: 580px;
        height: 1.35rem;
        margin: 0rem 2rem 2rem 2rem;
        font-size: medium;
}

textarea    {
        width: 580px;
        height: 9rem;
        vertical-align: top;
        margin: 0rem 2rem 2rem 2rem;
        font-size: 1rem;
        color: gray;
        border-color: rgb(204, 203, 203);
}

input[type="submit"]    {
        float: left;
        width: 100px;
        height: 2rem;
        background-color: rgb(59, 163, 59);
}

.r-sidebar  {
        float: left;
        width: 210px;
        margin: 0px 0px 40px 0px;
        padding: 1% 2% 1% 2%;
        background-color: white;
}

h3      {
        margin-bottom: 0.5em;
        padding: 0;
        text-align: center;
        color: steelblue;
}

#hr3    {
        height: 2px;
        margin-bottom: 1em;
        margin-top: 0.25em;
        border: 0;
        background-color: #f5f5f5;
}

#github {
        width: 50px;
        margin-left: 14px;
}

#linkedin {
        width: 50px;
        margin-right: 11px;
        margin-left: 11px;
}

#pinterest {
        width: 50px;
        margin-right: 14px;
}

footer  {
        width: 100vw;
        height: 2.5rem;
        position: fixed;
        bottom: 0;
        background-color: steelblue;
}

/* style for footer blurb */
#mine   {
        width: 100vw;
        height: 2.5rem;
        vertical-align: middle;
        margin: 0;
        padding: 1.1em 0em 1.1em 0em;
        font-size: 0.75rem;
        text-align: center;
        color: white;
}

@media only screen and (max-width: 980px) {
        .content{
                max-width: 768px;
        }
        nav     {
                float: right;
                width: 30vw;
                margin-left: 0;
                padding: 2em 0em 2em 0em;
        }
        #about  {
                padding-right: 3vw;
        }
        #portfolio  {
                padding-right: 3vw;
        }
        .main-content   {
                float: left;
                width: 475px;
                margin-bottom: 6rem;
                padding-bottom: 2rem;
        }
        #fish-pic  {
                float: left;
                vertical-align: top;
                width: 100%;
                margin: 0.5rem 0 1rem 0;
        }
        p       {
                float: left;
                vertical-align: bottom;
                margin: 0.5rem 2rem 0rem 2rem;
        }
        .portf-box-left  {
                float: left;
                width: 190px;
                height: 160px;
                margin: 1.5rem 0rem 1rem 2rem;
                background-color: mediumaquamarine;
        }
        .portf-box-right  {
                float: right;
                width: 190px;
                height: 160px;
                margin: 1.5rem 2rem 1rem 0rem;
                background-color: mediumaquamarine;
        }
        .portf-img      {
                position: relative;
                width: 100%;
        }
        h4      {
                position: relative;
                color: white;
                letter-spacing: 0.07em;
                margin: -3rem 0rem 1rem 0rem;
                padding: 1rem 0rem 1rem 0rem;
                text-align: center;
                vertical-align: bottom;
                background-color: steelblue;
        }
        .top-lbl   {
                margin-top: 2rem; 
        }
        /* style for other form field labels on contact form */
        label   {
                width: 42vw;
                float: left;
                margin: 0rem 2rem 0.2rem 2rem;
        }
        input     {
                float: left;
                width: 42vw;
                height: 1.35rem;
                margin: 0rem 2rem 2rem 2rem;
                font-size: medium;
        }
        textarea    {
                width: 42vw;
                height: 9rem;
                vertical-align: top;
                margin: 0rem 2rem 2rem 2rem;
                font-size: 1rem;
                color: gray;
                border-color: rgb(204, 203, 203);
        }
        input[type="submit"]    {
                float: left;
                width: 100px;
                height: 2rem;
                margin-bottom: 0;
                background-color: rgb(59, 163, 59);
        }
}

@media only screen and (max-width: 768px) {
        
        .content{
                width: 90vw;
        }
        .main-content   {
                width: 90vw;
                margin-bottom: 2rem;
                padding-bottom: 2rem;
        }
        nav     {
                float: right;
                width: 30vw;
                margin-left: 0;
                padding: 2em 0em 2em 0em;
        }
        #about  {
                padding-right: 2vw;
        }
        #portfolio  {
                padding-right: 2vw;
        }

        #fish-pic  {
                float: left;
                vertical-align: top;
                width: 35%;
                margin: 0 0 0.5rem 0;
                padding-right: 1rem;
        }
        p       {
                float: right;
                vertical-align: top;
                line-height: 1.15em;
                color: rgb(44, 53, 61);
                margin: 1rem 2rem 0rem 2rem;
        }
        .portf-box-left  {
                float: left;
                width: 40vw;
                height: 160px;
                margin: 1.5rem 0rem 7rem 2rem;
                background-color: mediumaquamarine;
        }
        .portf-box-right  {
                float: right;
                width: 40vw;
                height: 160px;
                margin: 1.5rem 2rem 7rem 0rem;
                background-color: mediumaquamarine;
        }
        .portf-img      {
                position: relative;
                width: 100%;
        }
        h4      {
                position: relative;
                color: white;
                letter-spacing: 0.07em;
                margin: -3rem 0rem 1rem 0rem;
                padding: 1rem 0rem 1rem 0rem;
                text-align: center;
                /* vertical-align: bottom; */
                background-color: steelblue;
        }

        .top-lbl   {
                margin-top: 2rem; 
        }
        
        /* style for other form field labels on contact form */
        label   {
                width: 81vw;
                float: left;
                margin: 0rem 2rem 0.2rem 2rem;
        }
        
        input     {
                float: left;
                width: 81vw;
                height: 1.35rem;
                margin: 0rem 2rem 2rem 2rem;
                font-size: medium;
        }
        
        textarea    {
                float: left;
                width: 81vw;
                height: 9rem;
                vertical-align: top;
                margin: 0rem 2rem 2rem 2rem;
                font-size: 1rem;
                color: gray;
                border-color: rgb(204, 203, 203);
        }
        
        input[type="submit"]    {
                float: left;
                width: 100px;
                height: 2rem;
                margin-bottom: 0;
                background-color: rgb(59, 163, 59);
        }
        .r-sidebar  {
                float: left;
                width: 210px;
                margin-top: 0;
                margin-bottom: 4rem;
                /* margin-left: 5vw; */
                padding: 1% 2% 1% 2%;
                background-color: white;
        }
}

@media only screen and (max-width: 640px) {
        
        .header  {
                position: static;
                width: 100vw;
                height: 20px;
                background-color: white;
                margin: 0;
        }
        h1      {
                width: 100vw;
                height: 30px;
                margin: 0;
                padding-top: 10px;
                padding-bottom: 10px;
        }
        nav     {
                background-color: white;
                float: left;
                width: 100vw;
                height: 10px;
                padding-top: 1em;
                padding-bottom: 1em;
                text-align: center;
                margin-bottom: 2rem;
                margin-right: 2.25vw;
                margin-left: 0;
        }
        #about  {
                padding-right: 20vw;
        }
        #portfolio  {
                padding-right: 20vw;
        }
        .content  {
                float: left;
        }
        .main-content   {
                float: left;
                width: 95vw;
                margin-bottom: 2rem;
                /* margin-right: 0; */
                margin-left: 2vw;
                padding-bottom: 2rem;
        }
        #fish-pic  {
                float: left;
                vertical-align: top;
                width: 86vw;
                margin: 0 0 1rem 0rem;
        }
        p       {
                float: left;
                vertical-align: top;
                line-height: 1.15em;
                color: rgb(44, 53, 61);
                margin: 0.5rem 2rem 0rem 2rem;
        }
        .portf-box-left  {
                float: left;
                width: 40vw;
                height: 160px;
                margin: 1.5rem 0rem 7rem 2rem;
                background-color: mediumaquamarine;
        }
        .portf-box-right  {
                float: right;
                width: 40vw;
                height: 160px;
                margin: 1.5rem 2rem 7rem 0rem;
                background-color: mediumaquamarine;
        }
        .portf-img      {
                position: relative;
                width: 100%;
        }
        h4      {
                position: relative;
                color: white;
                letter-spacing: 0.07em;
                margin: -3rem 0rem 1rem 0rem;
                padding: 1rem 0rem 1rem 0rem;
                text-align: center;
                background-color: steelblue;
        }
        .top-lbl   {
                margin-top: 2rem; 
        } 
        label   {
                width: 81vw;
                float: left;
                margin: 0rem 2rem 0.2rem 2rem;
        }      
        input     {
                float: left;
                width: 81vw;
                height: 1.35rem;
                margin: 0rem 2rem 2rem 2rem;
                font-size: medium;
        }    
        textarea    {
                float: left;
                width: 81vw;
                height: 9rem;
                vertical-align: top;
                margin: 0rem 2rem 2rem 2rem;
                font-size: 1rem;
                color: gray;
                border-color: rgb(204, 203, 203);
        }  
        input[type="submit"]    {
                float: left;
                width: 100px;
                height: 2rem;
                margin-bottom: 0;
                background-color: rgb(59, 163, 59);
        }
        .r-sidebar  {
                float: left;
                width: 210px;
                margin-top: 0;
                margin-left: 2vw;
                margin-bottom: 4rem;
                padding: 1% 2% 1% 2%;
                background-color: white;
                }
}